* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.adminContainer {
    // border: 1px solid #f00;
    height: 100%;
    position: relative;

    .header {
        background-color: #3c8dbc;
    }

    .alertMessage {
        position: absolute;
        background-color: #fff2c8;
        padding: 15px;
        right: 0;
        top: 30px;
    }

    .contentSection {
        // border: 1px solid #f00;
        height: 100%;
        display: flex;
        justify-content: stretch;
        align-items: stretch;

        .controlSection {
            width: 250px;
            background-color: #222d31;

            .controlLinks {
                height: 40px;
                display: flex;
                align-items: center;
                padding: 15px;
                cursor: pointer;
                text-decoration: none;
                color: #ccc;

                &:hover {
                    background-color: #222d3f;
                }
            }
        }

        .mainContent {
            width: 100%;
            padding: 15px;

            .heading {
                display: flex;
                justify-content: space-between;
                gap: 15px;
                align-items: flex-start;

                .allCategoriesInfo {
                }

                .newCategoryLink {
                    background-color: #5ab55a;
                    padding: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-radius: 3px;
                    text-decoration: none;
                    color: #fff;

                    &:hover {
                        background-color: #5ab500;
                    }
                }
            }

            .categoryTable {
                margin-top: 15px;
                width: 100%;
                border-collapse: collapse;
                table-layout: fixed;

                thead {
                    tr {
                        th {
                            padding: 5px;
                            background-color: #222;
                            color: #fff;
                            text-align: center;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            // border: 1px solid #000;
                            padding: 5px;
                            text-align: center;

                            .categoryImage {
                                width: 50px;
                                height: 50px;
                            }

                            .actionContainer {
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                gap: 15px;

                                form {
                                    .deleteButton {
                                        padding: 5px;
                                        padding-left: 15px;
                                        padding-right: 15px;
                                        background-color: orangered;
                                        color: #ddd;
                                        border: none;
                                        border-radius: 3px;
                                        cursor: pointer;

                                        &:hover {
                                            background-color: #f00;
                                        }
                                    }
                                }
                                .deleteCategoryButton {
                                    padding: 5px;
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    background-color: orangered;
                                    color: #ddd;
                                    border: none;
                                    border-radius: 3px;
                                    cursor: pointer;

                                    &:hover {
                                        background-color: #f00;
                                    }
                                }
                            }
                        }
                    }
                    tr:nth-child(odd) {
                        background-color: #ccc;
                    }
                }
            }
        }
    }
}
